#main{
	margin: auto;
	font-family: "Helvetica";
	text-align: center;
	transition: margin-left .5s; /* If you want a transition effect */
}

body{
	background: #25C9DB;
}

#prompt{
	font-size: 20;
}

.input{
	margin:auto;
	display: block;
	height: 30;
	width: 250;
}

.submit{
	height: 40px;
	width: 200px;
	font-family: "Helvetica";
	font-size: 16;
	background: #8B8C8E;
	border-color: #ABACAE;
}

h1{
	font-size: 42;
}

h2{
	font-size: 24;
}

.table table{
	margin-left:auto; 
	margin-right:auto;
	font-family: "Helvetica";
	text-align:center;
}

.table button{
	font-family: "Helvetica";
	margin:auto;
	padding:auto;
	text-align:center;
	background: #8B8C8E;
	border-color: #ABACAE;
  }